* {
    box-sizing: border-box;
    font-family: 'MODERN TYPEWRITER', sans-serif;
}
html {
    font-size: 16px;
    font-weight: bolder;
    background-image: url("./Assets/pexels-eberhard-grossgasteiger-2088205.jpg");
}
a:link, a:visited {
    color: #E84685FF;
    text-decoration: none;
}
a:hover, a:active {
    color: #7606ff;
}
nav {
    position: fixed;
    width: 100%;
    background-color: #F6F3F3C5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 10;
}
.navbar-page-links-container {
    display: flex;
    gap: 15px;
    font-size: 2rem;
    margin: 15px 5px 5px 15px;
    text-transform: uppercase;
}
.name {
    display: flex;
    justify-content: end;
    font-size: 2.7rem;
    margin: 5px 5px 5px 0;
    color: #E84685FF;
}
.padding-between-nav-main {
    padding: 68px;
}
header {
    height: calc(100vh - 15em);
    padding: 4em;
    color: #000000;
    font-family: 'Anonymous Pro', monospace;
}

.line-1 {
    position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 2px solid #FFFFFFBF;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
.anim-typewriter {
    animation: typewriter 5s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 35em;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: #FFFFFFBF;
    }
    to {
        border-right-color: transparent;
    }
}
.about-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 50px 0 50px;
    border-radius: 20px;
    background-color: #F6F3F38B;
}
.about-section-header {
    text-align: center;
    font-size: 2.7rem;
    color: #E84685FF;
}
.about-text {
    text-align: justify;
    padding-bottom: 100px;
    color: #000000;
    font-size: 1.3rem;
}
span {
    color: #E84685FF;
    font-size: 2rem;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F6F3F38B;
    border-radius: 30px;
    margin: 50px;
    padding-bottom: 50px;
}
.portfolio-introduction-container {
    display: block;
    text-align: center;
    width: 100%;
    color: #000000;
}
.portfolio-header {
    padding-top: 10px;
    font-size: 2.5rem;
    color: #E84685FF;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    background-color: #F6F3F38B;
    border-radius: 30px;
}
.project-title {
    font-size: 1.5rem;
    color: #E84685FF;
}
.project-image {
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
    max-width: 500px;
    height: 400px;
}
.project-image:hover {
    filter: brightness(.75);
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}
.project-description-text {
    color: #000000;
}
.project-git-link-button {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    justify-content: space-around;
}
.contact-container {
    display: block;
    background-color: #F6F3F38B;
    border-radius: 20px;
    margin: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.contact-title {
    text-align: center;
    width: 100%;
    color: #E84685FF;
}
.contact-text {
    text-align: center;
    color: #000000;
}
.contact-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 3rem;
    justify-content: space-around;
    padding-top: 20px;
}
footer {
    padding-top: 20px;
    padding-bottom: 20px;
}
.copywrite-tag-container {
    display: block;
    text-align: center;
    align-content: center;
    margin: auto;
    color: #000000;
}
@media screen and (max-width: 1200px){
    .line-1 {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 1100px){
    .line-1 {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1000px){
    header {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .name {
        font-size: 2.2rem;
    }
    .navbar-page-links-container {
        font-size: 1.8rem;
}
@media screen and (max-width: 700px) {
    .name {
        font-size: 2rem;
    }
    .navbar-page-links-container {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 600px) {
    html {
        display: flex;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
    }
    .navbar-page-links-container {
        font-size: 1.2rem;
    }
    .name {
        font-size: 2rem;
    }
    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .project-title {
        font-size: 2rem;
    }
    .project-description-text {
        text-align: justify;
        font-size: 1.5rem;
    }
    .copywrite-tag-container {
        font-size: 1.2rem;
        align-content: center;
    }
}

