* {
    box-sizing: border-box;
    font-family: 'MODERN TYPEWRITER', sans-serif;
}

html {
    font-size: 16px;
    font-weight: bolder;
    overflow-wrap: break-word;
    hyphens: auto;
    background-image: url("./Assets/pexels-eberhard-grossgasteiger-2088205.jpg");
}

a:link, a:visited {
    color: #E84685FF;
    text-decoration: none;
}

a:hover, a:active {
    color: #7606ff;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #F6F3F3C5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 10;
}

.navbar-page-links-container {
    display: flex;
    gap: 15px;
    font-size: 2.2rem;
    margin: 15px 5px 5px 15px;
    text-transform: uppercase;
}

.name {
    display: flex;
    justify-content: end;
    font-size: 2.6rem;
    margin: 5px 5px 5px 0;
    color: #E84685FF;
}

header {
    height: calc(100vh - 15em);
    color: #000000;
    font-family: 'Anonymous Pro', monospace;
    padding-top: 100px;

}

.line-1 {
    position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 2px solid #FFFFFFBF;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 5s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 36em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #FFFFFFBF;
    }
    to {
        border-right-color: transparent;
    }
}

#about,
#portfolio,
#contact {
    z-index: 0;
}

#about {
    padding-top: 85px;
}

#portfolio {
    padding-top: 55px;
}

#contact {
    padding-top: 50px;
}

.about-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 50px 0 50px;
    border-radius: 20px;
    background-color: #F6F3F38B;
}

.about-section-header {
    text-align: center;
    font-size: 2.8rem;
    color: #E84685FF;
}

.about-text {
    text-align: initial;
    padding-bottom: 100px;
    color: #000000;
    font-size: 1.7rem;
}

span {
    color: #E84685FF;
    font-size: 2.1rem;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F6F3F38B;
    border-radius: 30px;
    margin: 50px;
    padding-bottom: 50px;
}

.portfolio-introduction-container {
    display: block;
    text-align: center;
    width: 100%;
    color: #000000;
}

.portfolio-header {
    padding-top: 10px;
    font-size: 2.8rem;
    color: #E84685FF;
}

.portfolio-text {
    font-size: 1.5rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    background-color: #F6F3F38B;
    border-radius: 30px;
    width: 550px;
    height: auto;
    overflow: hidden;
}

.project-title {
    font-size: 2.3rem;
    color: #E84685FF;
    margin: 20px;
}

.project-image {
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
    width: calc(100% - 5%);
    height: 350px;
    margin-left: 10px;
}

.project-image:hover {
    filter: brightness(.75);
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}

.project-description-text {
    color: #000000;
    text-align: initial;
    font-size: 1.3rem;
    margin: 10px;
    display: inline-block;
}

.project-git-link-button {
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}

.project-link {
    font-size: 2.5rem;
    display: flex;
    justify-content: end;
    margin: 0 20px 0 0;

}

.contact-container {
    display: block;
    background-color: #F6F3F38B;
    border-radius: 20px;
    margin: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.contact-title {
    text-align: center;
    width: 100%;
    color: #E84685FF;
    font-size: 2.8rem;
}

.contact-text {
    text-align: center;
    color: #000000;
    font-size: 1.5rem;
}

.contact-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    align-content: center;
    font-size: 2.5rem;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright-container {
    display: block;
    margin: auto;
    color: #000000;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .line-1
    {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 1100px) {
    .line-1
    {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1000px) {
    .padding-between-nav-main
    {
        padding: 15px;
    }
    header
    {
        display: none;
    }
    .about-section-header
    {
        font-size: 2.7rem;
    }
}
@media screen and (max-width: 900px) {
    .padding-between-nav-main
    {
       padding: 20px;
    }
    .name
    {
        font-size: 2.2rem;
    }
    .navbar-page-links-container
    {
        font-size: 1.9rem;
    }
}
@media screen and (max-width: 750px) {
    nav
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .name
    {
        display: none;
    }
    .navbar-page-links-container
    {
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 700px) {
   .about-section-container
   {
       margin: 10px;
   }
    .about-section-header
    {
        font-size: 2.2rem;
    }
    .about-text
    {
        font-size: 1.5rem;
    }
    span
    {
        font-size: 2rem;
    }
    #about
    {
        padding-top: 70px;
    }
    #portfolio
    {
        padding-top: 30px;
    }
    .portfolio-container
    {
        margin: 10px;
        padding: 0;
    }
    .padding-between-nav-main
    {
        padding: 10px;
    }
    .project-title
    {
        font-size: 2.2rem;
    }
    .project-description-text
    {
        font-size: 1.5rem;
    }
    .contact-container
    {
        margin: 40px 10px 0 10px;
    }
    .contact-title
    {
        font-size: 2.2rem;
    }
    .contact-text
    {
        font-size: 1.3rem;
        margin: 10px;
    }
    .copyright-text
    {
        font-size: 1rem;
    }
    #about
    {
        padding-top: 75px;
    }
    #portfolio {
        padding-top: 80px;
    }
}
@media screen and (max-width: 600px) {
    .navbar-page-links-container
    {
        font-size: 2rem;
    }
    .project-image
    {
        height: 300px;
    }
}
@media screen and (max-width: 500px) {
    .navbar-page-links-container
    {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 450px) {
    .navbar-page-links-container {
        font-size: 1.6rem;
    }
    .project-image
    {
        height: 250px;
    }
    #about {
        padding-top: 60px;
    }

    #portfolio {
        padding-top: 65px;
    }

    #contact {
        padding-top: 40px;
    }
}
@media screen and (max-width: 400px){
    .navbar-page-links-container
    {
        font-size: 1.4rem;
    }
    .about-section-container
    {
        margin: 10px;
    }
    .portfolio-container
    {
        margin: 10px;
        padding: 0;
    }
    .padding-between-nav-main
    {
        padding: 10px;
    }
    .portfolio-container
    {
        margin: 0;
    }
    @media screen and (max-width: 370px) {
        .navbar-page-links-container
        {
            font-size: 1.3rem;
        }
    }
}

